/.DS_Store
/Icon
/blast_cls
/camb_lin_pk.npz
/camb_nl_pk.npz
/camb_pk.npz
/ccl_cmb_kernel.npz
/ccl_gal_kernel.npz
/ccl_sh_kernel.npz
/cmb_kernel.npy
/ell_list.npy
/galaxy_kernel.npy
/k_cheb.npy
/k_nl.npz
/mynz.npy
/namaster_ells.npz
/shear_kernel.npy
/z_cheb.npy
/z_nl.npz